@charset "UTF-8";

/*
** 
** CSS/HTML tested via:
** 
** MAC Snow Leopard:
** Firefox 13.0.x, Firefox 12.0, Safari 5.1.x, Opera 11.64, Opera 12.00, Chrome 20.0.x
** 
** PC Vista:
** Firefox 3.6.x, Firefox 13.0.x, Chrome 20.0.x, Safari 5.1.x, Opera 11.64, Opera 12.00
** IE 9.0.x, IE 8.0.x, IE 7.0.x
** 
** PC XP:
** IE 6.0.x
** 
** iPhone 4:
** Safari 4.3 (simulated), Safari 5.1.1, Chrome 19.0.x, Opera Mini 7.0.x
** iPhone:
** Safari 4.3 (simulated)
** iPad:
** Safari 4.3 (simulated), Safari 5.1.1
** 
** Galaxy Tab 10.1:
** Browser 3.2
** 
** Last updated: 2012/07/13
** 
*/

/*
**--------------------------------------------------------------------------
**
** "Moblie"
** [A]LPHA
** (viewport < 660):
**
**--------------------------------------------------------------------------
*/

/**
 * Fluid container.
 */

.container { margin: 0 10px; }
	.debug .container { background-color: rgba(0, 0, 0, 0.25); } /* black, #000 */

/*--------------------------------------------------------------------*/

/**
 * Fixed grid base structure.
 *
 * @see rgne.ws/MopmlH
 */

.row:before, .row:after { content: ""; display: table; } .row:after { clear: both; } .row { *zoom: 1; } /* rgne.ws/KZHkqq */
	.col { padding: 1px 0; margin: -1px 0; position: relative; } /* rgne.ws/JAoGck */
		.debug .col { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

/*--------------------------------------------------------------------*/

/**
 * Fluid grid base structure.
 *
 * @see rgne.ws/JNpYSM
 */

.line:before, .line:after { content: ""; display: table; } .line:after { clear: both; } .line { *zoom: 1; } /* IBID */
	.unit { float: left; display: inline; width: 100%; position: relative; }
		.debug .unit { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

/*----------------------------------*/

/**
 * Fluid classes.
 */

.a1of2 { width: 50%; }
.a1of3 { width: 33.33333%; }
.a2of3 { width: 66.66666%; }
.a1of4 { width: 25%; }
.a3of4 { width: 75%; }
.a1of5 { width: 20%; }
.a2of5 { width: 40%; }
.a3of5 { width:60%; }
.a4of5 { width:80%; }
.a1of6 { width: 16.6666666%; }
.a5of6 { width: 83.3333333%; }
.a1of7 { width: 14.2857143%; }
.a2of7 { width: 28.5714286%; }
.a3of7 { width: 42.8571429%; }
.a4of7 { width: 57.1428572%; }
.a5of7 { width: 71.4285715%; }
.a6of7 { width: 85.7142858%; }
.a1of8 { width: 12.5%; }
.a3of8 { width: 37.5%; }
.a5of8 { width: 62.5%; }
.a7of8 { width: 87.5%; }
	.debug .a1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
	.debug .a1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
	.debug .a2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
	.debug .a1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
	.debug .a3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
	.debug .a1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
	.debug .a2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
	.debug .a3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
	.debug .a4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
	.debug .a1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
	.debug .a5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
	.debug .a1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
	.debug .a2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
	.debug .a3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
	.debug .a4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
	.debug .a5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
	.debug .a6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
	.debug .a1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
	.debug .a3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
	.debug .a5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
	.debug .a7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
.afix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }

/*
**--------------------------------------------------------------------------
**
** "Tablet"
** [B]RAVO
** Breakpoint #1
** (viewport > 660) & (viewport < 990):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 660px) { /* 640px + 20px */
	
	/**
	 * Fixed container.
	 */
	
	.container { margin: 0 auto; width: 640px; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Fixed rows/cols.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.row { margin-left: -20px; }
		.col { padding-left: 20px; } /* Account for negative margin above. */
	
	/*----------------------------------*/
	
	/**
	 * Fixed classes.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.b145 { width: 145px; }
	.b310 { width: 310px; }
	.b475 { width: 475px; }
		.debug .b145 { background: rgba(128, 0, 128, 0.25); } /* purple, #800080 */
		.debug .b310 { background: rgba(0, 0, 128, 0.25); }   /* navy, #000080 */
		.debug .b475 { background: rgba(0, 128, 128, 0.25); } /* teal, #008080 */
	.b145, .b310, .b475 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; } /* Remove padding in place of margin (see link above). */
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.bx { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between fixed columns.
	 * Compatible with IE > 7.
	 *
	 * @see rgne.ws/M85ynR
	 */
	
	.lb:before, .rb:after {
		border-right: 1px solid #ccc;
		content: "";
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.lb:before { left: -11px; }
	.rb:after { right: -10px; }
	.bb:before, .bb:after { display: block; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Fluid classes.
	 */
	
	.b1of2 { width: 50%; }
	.b1of3 { width: 33.33333%; }
	.b2of3 { width: 66.66666%; }
	.b1of4 { width: 25%; }
	.b3of4 { width: 75%; }
	.b1of5 { width: 20%; }
	.b2of5 { width: 40%; }
	.b3of5 { width:60%; }
	.b4of5 { width:80%; }
	.b1of6 { width: 16.6666666%; }
	.b5of6 { width: 83.3333333%; }
	.b1of7 { width: 14.2857143%; }
	.b2of7 { width: 28.5714286%; }
	.b3of7 { width: 42.8571429%; }
	.b4of7 { width: 57.1428572%; }
	.b5of7 { width: 71.4285715%; }
	.b6of7 { width: 85.7142858%; }
	.b1of8 { width: 12.5%; }
	.b3of8 { width: 37.5%; }
	.b5of8 { width: 62.5%; }
	.b7of8 { width: 87.5%; }
		.debug .b1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .b1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .b2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .b1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .b3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .b1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .b2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .b3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .b4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .b1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .b5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .b1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .b2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .b3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .b4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .b5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .b6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .b1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .b3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .b5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .b7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.bfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

/*
**--------------------------------------------------------------------------
**
** "Desktop"
** [C]HARLIE
** Breakpoint #2
** (viewport > 990) & (viewport < 1320):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 990px) {  /* 970px + 20px */
	
	/**
	 * Fixed container.
	 */
	
	.container { width: 970px; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Fixed classes.
	 */
	
	.c145 { width: 145px; }
	.c310 { width: 310px; }
	.c475 { width: 475px; }
	.c640 { width: 640px; }
	.c805 { width: 805px; }
		.debug .c145 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .c310 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .c475 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .c640 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .c805 { background: rgba(240, 230, 140, 0.25); } /* khaki, #f0e68c */
	.c145, .c310, .c475, .c640, .c805 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.bx { clear: none; }
	.cx { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between fixed columns.
	 */
	
	.cb:before, .cb:after { display: block; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Fluid classes.
	 */
	
	.c1of2 { width: 50%; }
	.c1of3 { width: 33.33333%; }
	.c2of3 { width: 66.66666%; }
	.c1of4 { width: 25%; }
	.c3of4 { width: 75%; }
	.c1of5 { width: 20%; }
	.c2of5 { width: 40%; }
	.c3of5 { width:60%; }
	.c4of5 { width:80%; }
	.c1of6 { width: 16.6666666%; }
	.c5of6 { width: 83.3333333%; }
	.c1of7 { width: 14.2857143%; }
	.c2of7 { width: 28.5714286%; }
	.c3of7 { width: 42.8571429%; }
	.c4of7 { width: 57.1428572%; }
	.c5of7 { width: 71.4285715%; }
	.c6of7 { width: 85.7142858%; }
	.c1of8 { width: 12.5%; }
	.c3of8 { width: 37.5%; }
	.c5of8 { width: 62.5%; }
	.c7of8 { width: 87.5%; }
		.debug .c1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .c1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .c2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .c1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .c3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .c1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .c2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .c3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .c4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .c1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .c5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .c1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .c2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .c3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .c4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .c5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .c6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .c1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .c3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .c5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .c7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.cfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

/*
**--------------------------------------------------------------------------
**
** "Big desktop"
** [D]ELTA
** Breakpoint #3
** (viewport > 1320):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1320px) { /* 1300px + 20px */
	
	/**
	 * Fixed container.
	 */
	
	.container { width: 1300px; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Fixed classes.
	 */
	
	.d145 { width: 145px; }
	.d310 { width: 310px; }
	.d475 { width: 475px; }
	.d640 { width: 640px; }
	.c805 { width: 805px; }
	.d970 { width: 970px; }
	.d1135 { width: 1135px; }
		.debug .d145 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .d310 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .d475 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .d640 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .d805 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .d970 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .d1135 { background: rgba(64, 224, 208, 0.25); } /* turquoise, #40e0d0 */
	.d145, .d310, .d475, .d640, .d805, .d970, .d1135 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.cx { clear: none; }
	.dx { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between fixed columns.
	 */
	
	.db:before, .db:after { display: block; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Fluid classes.
	 */
	
	.d1of2 { width: 50%; }
	.d1of3 { width: 33.33333%; }
	.d2of3 { width: 66.66666%; }
	.d1of4 { width: 25%; }
	.d3of4 { width: 75%; }
	.d1of5 { width: 20%; }
	.d2of5 { width: 40%; }
	.d3of5 { width:60%; }
	.d4of5 { width:80%; }
	.d1of6 { width: 16.6666666%; }
	.d5of6 { width: 83.3333333%; }
	.d1of7 { width: 14.2857143%; }
	.d2of7 { width: 28.5714286%; }
	.d3of7 { width: 42.8571429%; }
	.d4of7 { width: 57.1428572%; }
	.d5of7 { width: 71.4285715%; }
	.d6of7 { width: 85.7142858%; }
	.d1of8 { width: 12.5%; }
	.d3of8 { width: 37.5%; }
	.d5of8 { width: 62.5%; }
	.d7of8 { width: 87.5%; }
		.debug .d1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .d1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .d2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .d1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .d3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .d1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .d2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .d3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .d4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .d1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .d5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .d1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .d2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .d3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .d4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .d5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .d6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .d1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .d3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .d5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .d7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.dfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}