/* ==========================================================================
   _wiffle-utils.css
   ========================================================================== */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * Clear preceding `px` columns.
	 */
	
	.w_Bc { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * Right `px` cols.
	 * Compatible with IE > 6.
	 */
	
	.w_row.w_Br > .w_col { float: right; }
	
	/**
	 * Clear succeeding `px` columns.
	 */
	
	.w_row.w_Br > .w_col.w_Bc { clear: right; }
	
}

@media only screen and (min-width: 1005px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * Clear preceding `px` columns.
	 */
	
	.w_Bc { clear: none; } .w_Cc { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * Right `px` cols.
	 */
	
	.w_row.w_Cr > .w_col { float: right; }
	
	/**
	 * Clear succeeding `px` columns.
	 */
	
	.w_row.w_Br > .w_col.w_Bc { clear: none; } .w_row.w_Cr > .w_col.w_Cc { clear: right; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * Clear preceding `px` columns.
	 */
	
	.w_Cc { clear: none; } .w_Dc { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * Right `px` cols.
	 */
	
	.w_row.w_Dr > .w_col { float: right; }
	
	/**
	 * Clear succeeding `px` columns.
	 */
	
	.w_row.w_Cr > .w_col.w_Cc { clear: none; } .w_row.w_Dr > .w_col.w_Dc { clear: right; }
	
}