/* ==========================================================================
   _wiffle-px.css
   ========================================================================== */

/*-----------------( [ A ]LPHA )-----------------*/

/**
 * `px` base structure.
 *
 * @see rgne.ws/MopmlH
 */

.w_row:before, .w_row:after { content: ""; display: table; } .w_row:after { clear: both; } .w_row { *zoom: 1; } /* rgne.ws/KZHkqq */
	.w_col { margin: -1px 0; padding: 1px 0; position: relative; } /* rgne.ws/JAoGck */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * `px` rows/columns.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_row { margin-left: -40px; }
		.w_col { padding-left: 40px; } /* Account for negative margin above. */
	
	/*----------------------------------*/
	
	/**
	 * `px` columns.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_B130 { width: 130px; }
	.w_B300 { width: 300px; }
	.w_B470 { width: 470px; }
	.w_B130, .w_B300, .w_B470 { margin: 0 0 0 40px; padding: 0; float: left; display: inline; } /* Remove padding in place of margin (see link above). */
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding `px` columns.
	 */
	
	.w_Bc { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * `px` columns, right.
	 * Compatible with IE > 6.
	 */
	
	.w_row.w_Br > .w_col { float: right; }
	
	/*----------------------------------*/
	
	/**
	 * Clear succeeding `px` columns.
	 */
	
	.w_row.w_Br > .w_col.w_Bc { clear: right; }
	
}

@media only screen and (min-width: 1005px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * `px` columns.
	 */
	
	.w_C130 { width: 130px; }
	.w_C300 { width: 300px; }
	.w_C470 { width: 470px; }
	.w_C640 { width: 640px; }
	.w_C810 { width: 810px; }
	.w_C130, .w_C300, .w_C470, .w_C640, .w_C810 { margin: 0 0 0 40px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding `px` columns.
	 */
	
	.w_Bc { clear: none; } .w_Cc { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * `px` columns, right.
	 */
	
	.w_row.w_Cr > .w_col { float: right; }
	
	/*----------------------------------*/
	
	/**
	 * Clear succeeding `px` columns.
	 */
	
	.w_row.w_Br > .w_col.w_Bc { clear: none; } .w_row.w_Cr > .w_col.w_Cc { clear: right; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * `px` columns.
	 */
	
	.w_D130 { width: 130px; }
	.w_D300 { width: 300px; }
	.w_D470 { width: 470px; }
	.w_D640 { width: 640px; }
	.w_D810 { width: 810px; }
	.w_D980 { width: 980px; }
	.w_D1150 { width: 1150px; }
	.w_D130, .w_D300, .w_D470, .w_D640, .w_D810, .w_D980, .w_D1150 { margin: 0 0 0 40px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding `px` columns.
	 */
	
	.w_Cc { clear: none; } .w_Dc { clear: left; }
	
	/*----------------------------------*/
	
	/**
	 * `px` columns, right.
	 */
	
	.w_row.w_Dr > .w_col { float: right; }
	
	/*----------------------------------*/
	
	/**
	 * Clear succeeding `px` columns.
	 */
	
	.w_row.w_Cr > .w_col.w_Cc { clear: none; } .w_row.w_Dr > .w_col.w_Dc { clear: right; }
	
}