/* ==========================================================================
   _wiffle-core.css
   ========================================================================== */

/*
**--------------------------------------------------------------------------
**
** 1.
** Moblie
** [ A ]LPHA
** `viewport < 665px`
**
**--------------------------------------------------------------------------
*/

/**
 * Container.
 */

.wiffle { margin: 0 10px; }

/*
**--------------------------------------------------------------------------
**
** 2.
** Tablet
** [ B ]RAVO
** Breakpoint #1
** `(viewport >= 665px)` & `(viewport < 1005px)`
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 665px) { /* 640px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 640px; margin: 0 auto; }
	
}

/*
**--------------------------------------------------------------------------
**
** 3.
** Desktop
** [ C ]HARLIE
** Breakpoint #2
** `(viewport >= 1005px)` & `(viewport < 1345px)`
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1005px) { /* 980px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 980px; }
	
}

/*
**--------------------------------------------------------------------------
**
** 4.
** Big Desktop
** [ D ]ELTA
** Breakpoint #3
** `viewport >= 1345px`
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1345px) { /* 1320px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 1320px; }
	
}