/* ==========================================================================
   _wiffle-core.css
   ========================================================================== */

/*
**--------------------------------------------------------------------------
**
** "Moblie"
** [A]LPHA
** (viewport < 660):
**
**--------------------------------------------------------------------------
*/

/**
 * Container.
 */

.wiffle {
	background-color: #fff;
	border-width: 0 5px;
	border-style: solid;
	border-color: #fff;
	height: auto;
	min-height: 100%;
	_height: 100%;
	margin: 0 10px;
}
	.debug .wiffle { background-color: rgba(0, 0, 0, 0.25); } /* black, #000 */

/*
**--------------------------------------------------------------------------
**
** "Tablet"
** [B]RAVO
** Breakpoint #1
** (viewport > 660) & (viewport < 990):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 665px) { /* 640px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { margin: 0 auto; width: 640px; }
	
}

/*
**--------------------------------------------------------------------------
**
** "Desktop"
** [C]HARLIE
** Breakpoint #2
** (viewport > 990) & (viewport < 1320):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 995px) { /* 970px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 970px; }
	
}

/*
**--------------------------------------------------------------------------
**
** "Big desktop"
** [D]ELTA
** Breakpoint #3
** (viewport > 1320):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1325px) { /* 1300px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 1300px; }
	
}