/* ==========================================================================
   _wiffle-px.css
   ========================================================================== */

/*-----------------( [A]lpha )-----------------*/

/**
 * `px` grid base structure.
 *
 * @see rgne.ws/MopmlH
 */

.w_row:before, .w_row:after { content: ""; display: table; } .w_row:after { clear: both; } .w_row { *zoom: 1; } /* rgne.ws/KZHkqq */
	.w_col { padding: 1px 0; margin: -1px 0; position: relative; } /* rgne.ws/JAoGck */
		.debug .w_col { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [B]ravo )-----------------*/
	
	/**
	 * `px` rows/cols.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_row { margin-left: -20px; }
		.w_col { padding-left: 20px; } /* Account for negative margin above. */
	
	/*----------------------------------*/
	
	/**
	 * `px` classes.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_B145 { width: 145px; }
	.w_B310 { width: 310px; }
	.w_B475 { width: 475px; }
		.debug .w_B145 { background: rgba(128, 0, 128, 0.25); } /* purple, #800080 */
		.debug .w_B310 { background: rgba(0, 0, 128, 0.25); }   /* navy, #000080 */
		.debug .w_B475 { background: rgba(0, 128, 128, 0.25); } /* teal, #008080 */
	.w_B145, .w_B310, .w_B475 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; } /* Remove padding in place of margin (see link above). */
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Bx { clear: left; }
	
}

@media only screen and (min-width: 995px) {
	
	/*-----------------( [C]harlie )-----------------*/
	
	/**
	 * `px` classes.
	 */
	
	.w_C145 { width: 145px; }
	.w_C310 { width: 310px; }
	.w_C475 { width: 475px; }
	.w_C640 { width: 640px; }
	.w_C805 { width: 805px; }
		.debug .w_C145 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_C310 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_C475 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_C640 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_C805 { background: rgba(240, 230, 140, 0.25); } /* khaki, #f0e68c */
	.w_C145, .w_C310, .w_C475, .w_C640, .w_C805 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Bx { clear: none; }
	.w_Cx { clear: left; }
	
}

@media only screen and (min-width: 1325px) {
	
	/*-----------------( [D]elta )-----------------*/
	
	/**
	 * `px` classes.
	 */
	
	.w_D145 { width: 145px; }
	.w_D310 { width: 310px; }
	.w_D475 { width: 475px; }
	.w_D640 { width: 640px; }
	.w_C805 { width: 805px; }
	.w_D970 { width: 970px; }
	.w_D1135 { width: 1135px; }
		.debug .w_D145 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_D310 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_D475 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_D640 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_D805 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_D970 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_D1135 { background: rgba(64, 224, 208, 0.25); } /* turquoise, #40e0d0 */
	.w_D145, .w_D310, .w_D475, .w_D640, .w_D805, .w_D970, .w_D1135 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Cx { clear: none; }
	.w_Dx { clear: left; }
	
}