/* ==========================================================================
   _wiffle-utils.css
   ========================================================================== */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [B]ravo )-----------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Bcl { clear: left; }
	.w_Bcr { clear: right; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between `px` columns.
	 * Compatible with IE > 7.
	 *
	 * @see rgne.ws/M85ynR
	 */
	
	/* Initialize: */
	
	.w_lb:before, .w_la:after {
		border-right: 1px solid #ccc;
		content: "";
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.w_lb:before { left: -21px; }
	.w_la:after { right: -20px; }
	
	/* Breakpoints: */
	
	.w_Bl:before, .w_Bl:after { display: block; }
	
}

@media only screen and (min-width: 1005px) {
	
	/*-----------------( [C]harlie )-----------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Bcl, .w_Bcr { clear: none; }
	.w_Ccl { clear: left; }
	.w_Ccr { clear: right; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between `px` columns.
	 */
	
	.w_Cl:before, .w_Cl:after { display: block; }
	
}

@media only screen and (min-width: 1345px) {
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Ccl, .w_Ccr { clear: none; }
	.w_Dcl { clear: left; }
	.w_Dcr { clear: right; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between `px` columns.
	 */
	
	.w_Dl:before, .w_Dl:after { display: block; }
	
}