/*
** 
** CSS/HTML tested via:
** 
** MAC Snow Leopard:
** Firefox 14.0.x, Safari 5.1.x, Opera 12.00, Chrome 21.0.x
** 
** PC Vista:
** Firefox 3.6.x, Firefox 14.0.x, Chrome 20.0.x, Safari 5.1.x, Opera 11.64, Opera 12.00
** IE 9.0.x, IE 8.0.x, IE 7.0.x
** 
** PC XP:
** IE 6.0.x
** 
** iPhone 4:
** Safari 4.3 (simulated), Safari 5.1.1, Chrome 19.0.x, Opera Mini 7.0.x
** iPhone:
** Safari 4.3 (simulated)
** iPad:
** Safari 4.3 (simulated), Safari 5.1.1
** 
*/

/* ==========================================================================
   _wiffle-core.css
   ========================================================================== */

/*
**--------------------------------------------------------------------------
**
** Moblie
** [ A ]LPHA
** `viewport < 665px`
**
**--------------------------------------------------------------------------
*/

/**
 * Container.
 */

.wiffle { margin: 0 10px; }
	.debug .wiffle { background-color: rgba(0, 0, 0, 0.25); } /* black, #000 */

/*
**--------------------------------------------------------------------------
**
** Tablet
** [ B ]RAVO
** Breakpoint #1
** `(viewport >= 665px)` & `(viewport < 1005px)`
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 665px) { /* 640px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 640px; margin: 0 auto; }
	
}

/*
**--------------------------------------------------------------------------
**
** Desktop
** [ C ]HARLIE
** Breakpoint #2
** `(viewport >= 1005px)` & `(viewport < 1345px)`
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1005px) { /* 980px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 980px; }
	
}

/*
**--------------------------------------------------------------------------
**
** Big Desktop
** [ D ]ELTA
** Breakpoint #3
** `viewport >= 1345px`
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1345px) { /* 1320px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 1320px; }
	
}

/* ==========================================================================
   _wiffle-px.css
   ========================================================================== */

/*-----------------( [ A ]LPHA )-----------------*/

/**
 * Left `px` grid base structure.
 *
 * @see rgne.ws/MopmlH
 */

.w_row:before, .w_row:after { content: ""; display: table; } .w_row:after { clear: both; } .w_row { *zoom: 1; } /* rgne.ws/KZHkqq */
	.w_col { padding: 1px 0; margin: -1px 0; position: relative; } /* rgne.ws/JAoGck */
		.debug .w_col { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * Left `px` rows/cols.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_row { margin-left: -40px; }
		.w_col { padding-left: 40px; } /* Account for negative margin above. */
	
	/*----------------------------------*/
	
	/**
	 * Left `px` classes.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_B130 { width: 130px; }
	.w_B300 { width: 300px; }
	.w_B470 { width: 470px; }
		.debug .w_B130 { background: rgba(128, 0, 128, 0.25); } /* purple, #800080 */
		.debug .w_B300 { background: rgba(0, 0, 128, 0.25); }   /* navy, #000080 */
		.debug .w_B470 { background: rgba(0, 128, 128, 0.25); } /* teal, #008080 */
	.w_B130, .w_B300, .w_B470 { margin: 0 0 0 40px; padding: 0; float: left; display: inline; } /* Remove padding in place of margin (see link above). */
	
}

@media only screen and (min-width: 1005px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * Left `px` classes.
	 */
	
	.w_C130 { width: 130px; }
	.w_C300 { width: 300px; }
	.w_C470 { width: 470px; }
	.w_C640 { width: 640px; }
	.w_C810 { width: 810px; }
		.debug .w_C130 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_C300 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_C470 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_C640 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_C810 { background: rgba(240, 230, 140, 0.25); } /* khaki, #f0e68c */
	.w_C130, .w_C300, .w_C470, .w_C640, .w_C810 { margin: 0 0 0 40px; padding: 0; float: left; display: inline; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * Left `px` classes.
	 */
	
	.w_D130 { width: 130px; }
	.w_D300 { width: 300px; }
	.w_D470 { width: 470px; }
	.w_D640 { width: 640px; }
	.w_D810 { width: 810px; }
	.w_D980 { width: 980px; }
	.w_D1150 { width: 1150px; }
		.debug .w_D130 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_D300 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_D470 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_D640 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_D810 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_D980 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_D1150 { background: rgba(64, 224, 208, 0.25); } /* turquoise, #40e0d0 */
	.w_D130, .w_D300, .w_D470, .w_D640, .w_D810, .w_D980, .w_D1150 { margin: 0 0 0 40px; padding: 0; float: left; display: inline; }
	
}

/* ==========================================================================
   _wiffle-pct.css
   ========================================================================== */

/*-----------------( [ A ]LPHA )-----------------*/

/**
 * `%` grid base structure.
 *
 * @see rgne.ws/JNpYSM
 */

.w_line:before, .w_line:after { content: ""; display: table; } .w_line:after { clear: both; } .w_line { *zoom: 1; } /* rgne.ws/KZHkqq */
	.w_unit { float: left; display: inline; width: 100%; position: relative; }
		.debug .w_unit { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

/*----------------------------------*/

/**
 * `%` classes.
 */

.w_A1of2 { width: 50%; }
.w_A1of3 { width: 33.33333%; }
.w_A2of3 { width: 66.66666%; }
.w_A1of4 { width: 25%; }
.w_A3of4 { width: 75%; }
.w_A1of5 { width: 20%; }
.w_A2of5 { width: 40%; }
.w_A3of5 { width:60%; }
.w_A4of5 { width:80%; }
.w_A1of6 { width: 16.6666666%; }
.w_A5of6 { width: 83.3333333%; }
.w_A1of7 { width: 14.2857143%; }
.w_A2of7 { width: 28.5714286%; }
.w_A3of7 { width: 42.8571429%; }
.w_A4of7 { width: 57.1428572%; }
.w_A5of7 { width: 71.4285715%; }
.w_A6of7 { width: 85.7142858%; }
.w_A1of8 { width: 12.5%; }
.w_A3of8 { width: 37.5%; }
.w_A5of8 { width: 62.5%; }
.w_A7of8 { width: 87.5%; }
	.debug .w_A1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
	.debug .w_A1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
	.debug .w_A2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
	.debug .w_A1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
	.debug .w_A3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
	.debug .w_A1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
	.debug .w_A2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
	.debug .w_A3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
	.debug .w_A4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
	.debug .w_A1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
	.debug .w_A5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
	.debug .w_A1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
	.debug .w_A2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
	.debug .w_A3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
	.debug .w_A4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
	.debug .w_A5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
	.debug .w_A6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
	.debug .w_A1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
	.debug .w_A3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
	.debug .w_A5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
	.debug .w_A7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
.w_Afix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }

@media only screen and (min-width: 665px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * `%` classes.
	 */
	
	.w_B1of2 { width: 50%; }
	.w_B1of3 { width: 33.33333%; }
	.w_B2of3 { width: 66.66666%; }
	.w_B1of4 { width: 25%; }
	.w_B3of4 { width: 75%; }
	.w_B1of5 { width: 20%; }
	.w_B2of5 { width: 40%; }
	.w_B3of5 { width:60%; }
	.w_B4of5 { width:80%; }
	.w_B1of6 { width: 16.6666666%; }
	.w_B5of6 { width: 83.3333333%; }
	.w_B1of7 { width: 14.2857143%; }
	.w_B2of7 { width: 28.5714286%; }
	.w_B3of7 { width: 42.8571429%; }
	.w_B4of7 { width: 57.1428572%; }
	.w_B5of7 { width: 71.4285715%; }
	.w_B6of7 { width: 85.7142858%; }
	.w_B1of8 { width: 12.5%; }
	.w_B3of8 { width: 37.5%; }
	.w_B5of8 { width: 62.5%; }
	.w_B7of8 { width: 87.5%; }
		.debug .w_B1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_B1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_B2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_B1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_B3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_B1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_B2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_B3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_B4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_B1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_B5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .w_B1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .w_B2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .w_B3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .w_B4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .w_B5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .w_B6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .w_B1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .w_B3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .w_B5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .w_B7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.w_Bfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

@media only screen and (min-width: 1005px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * `%` classes.
	 */
	
	.w_C1of2 { width: 50%; }
	.w_C1of3 { width: 33.33333%; }
	.w_C2of3 { width: 66.66666%; }
	.w_C1of4 { width: 25%; }
	.w_C3of4 { width: 75%; }
	.w_C1of5 { width: 20%; }
	.w_C2of5 { width: 40%; }
	.w_C3of5 { width:60%; }
	.w_C4of5 { width:80%; }
	.w_C1of6 { width: 16.6666666%; }
	.w_C5of6 { width: 83.3333333%; }
	.w_C1of7 { width: 14.2857143%; }
	.w_C2of7 { width: 28.5714286%; }
	.w_C3of7 { width: 42.8571429%; }
	.w_C4of7 { width: 57.1428572%; }
	.w_C5of7 { width: 71.4285715%; }
	.w_C6of7 { width: 85.7142858%; }
	.w_C1of8 { width: 12.5%; }
	.w_C3of8 { width: 37.5%; }
	.w_C5of8 { width: 62.5%; }
	.w_C7of8 { width: 87.5%; }
		.debug .w_C1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_C1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_C2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_C1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_C3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_C1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_C2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_C3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_C4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_C1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_C5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .w_C1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .w_C2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .w_C3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .w_C4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .w_C5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .w_C6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .w_C1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .w_C3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .w_C5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .w_C7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.w_Cfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * `%` classes.
	 */
	
	.w_D1of2 { width: 50%; }
	.w_D1of3 { width: 33.33333%; }
	.w_D2of3 { width: 66.66666%; }
	.w_D1of4 { width: 25%; }
	.w_D3of4 { width: 75%; }
	.w_D1of5 { width: 20%; }
	.w_D2of5 { width: 40%; }
	.w_D3of5 { width:60%; }
	.w_D4of5 { width:80%; }
	.w_D1of6 { width: 16.6666666%; }
	.w_D5of6 { width: 83.3333333%; }
	.w_D1of7 { width: 14.2857143%; }
	.w_D2of7 { width: 28.5714286%; }
	.w_D3of7 { width: 42.8571429%; }
	.w_D4of7 { width: 57.1428572%; }
	.w_D5of7 { width: 71.4285715%; }
	.w_D6of7 { width: 85.7142858%; }
	.w_D1of8 { width: 12.5%; }
	.w_D3of8 { width: 37.5%; }
	.w_D5of8 { width: 62.5%; }
	.w_D7of8 { width: 87.5%; }
		.debug .w_D1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_D1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_D2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_D1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_D3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_D1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_D2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_D3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_D4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_D1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_D5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .w_D1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .w_D2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .w_D3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .w_D4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .w_D5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .w_D6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .w_D1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .w_D3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .w_D5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .w_D7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.w_Dfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

/* ==========================================================================
   _wiffle-utils.css
   ========================================================================== */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * Right `px` cols.
	 * Compatible with IE > 6.
	 */
	
	.w_row.w_Bfr > .w_col { float: right; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding/succeeding columns.
	 */
	
	.w_Bcl { clear: left; } .w_Bcr { clear: right; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between `px` columns.
	 * Compatible with IE > 7.
	 *
	 * @see rgne.ws/M85ynR
	 */
	
	.w_lb:before, .w_la:after { border-right: 1px solid #ccc; content: ""; display: none; position: absolute; top: 0; bottom: 0; } .w_lb:before { left: -21px; } .w_la:after { right: -20px; }
	.w_Bl:before, .w_Bl:after { display: block; }
	
}

@media only screen and (min-width: 1005px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * Right `px` cols.
	 */
	
	.w_row.w_Cfr > .w_col { float: right; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding/succeeding columns.
	 */
	
	.w_Bcl, .w_Bcr { clear: none; } .w_Ccl { clear: left; } .w_Ccr { clear: right; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between `px` columns.
	 */
	
	.w_Cl:before, .w_Cl:after { display: block; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * Right `px` cols.
	 */
	
	.w_row.w_Dfr > .w_col { float: right; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding/succeeding columns.
	 */
	
	.w_Ccl, .w_Ccr { clear: none; } .w_Dcl { clear: left; } .w_Dcr { clear: right; }
	
	/*----------------------------------*/
	
	/**
	 * Vertical lines between `px` columns.
	 */
	
	.w_Dl:before, .w_Dl:after { display: block; }
	
}