/*
** 
** CSS/HTML tested via:
** 
** MAC Snow Leopard:
** Firefox 14.0.x, Safari 5.1.x, Opera 12.00, Chrome 21.0.x
** 
** PC Vista:
** Firefox 3.6.x, Firefox 14.0.x, Chrome 20.0.x, Safari 5.1.x, Opera 11.64, Opera 12.00
** IE 9.0.x, IE 8.0.x, IE 7.0.x
** 
** PC XP:
** IE 6.0.x
** 
** iPhone 4:
** Safari 4.3 (simulated), Safari 5.1.1, Chrome 19.0.x, Opera Mini 7.0.x
** iPhone:
** Safari 4.3 (simulated)
** iPad:
** Safari 4.3 (simulated), Safari 5.1.1
** 
*/

/* ==========================================================================
   _wiffle-core.css
   ========================================================================== */

/*
**--------------------------------------------------------------------------
**
** "Moblie"
** [A]LPHA
** (viewport < 660):
**
**--------------------------------------------------------------------------
*/

/**
 * Container.
 */

.wiffle {
	background-color: #fff;
	border-width: 0 5px;
	border-style: solid;
	border-color: #fff;
	height: auto;
	min-height: 100%;
	_height: 100%;
	margin: 0 10px;
}
	.debug .wiffle { background-color: rgba(0, 0, 0, 0.25); } /* black, #000 */

/*
**--------------------------------------------------------------------------
**
** "Tablet"
** [B]RAVO
** Breakpoint #1
** (viewport > 660) & (viewport < 990):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 665px) { /* 640px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { margin: 0 auto; width: 640px; }
	
}

/*
**--------------------------------------------------------------------------
**
** "Desktop"
** [C]HARLIE
** Breakpoint #2
** (viewport > 990) & (viewport < 1320):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 995px) { /* 970px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 970px; }
	
}

/*
**--------------------------------------------------------------------------
**
** "Big desktop"
** [D]ELTA
** Breakpoint #3
** (viewport > 1320):
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1325px) { /* 1300px + 25px */
	
	/**
	 * Container.
	 */
	
	.wiffle { width: 1300px; }
	
}

/* ==========================================================================
   _wiffle-px.css
   ========================================================================== */

/*-----------------( [A]lpha )-----------------*/

/**
 * `px` grid base structure.
 *
 * @see rgne.ws/MopmlH
 */

.w_row:before, .w_row:after { content: ""; display: table; } .w_row:after { clear: both; } .w_row { *zoom: 1; } /* rgne.ws/KZHkqq */
	.w_col { padding: 1px 0; margin: -1px 0; position: relative; } /* rgne.ws/JAoGck */
		.debug .w_col { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

@media only screen and (min-width: 665px) {
	
	/*-----------------( [B]ravo )-----------------*/
	
	/**
	 * `px` rows/cols.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_row { margin-left: -20px; }
		.w_col { padding-left: 20px; } /* Account for negative margin above. */
	
	/*----------------------------------*/
	
	/**
	 * `px` classes.
	 *
	 * @see rgne.ws/KdetDk
	 */
	
	.w_B145 { width: 145px; }
	.w_B310 { width: 310px; }
	.w_B475 { width: 475px; }
		.debug .w_B145 { background: rgba(128, 0, 128, 0.25); } /* purple, #800080 */
		.debug .w_B310 { background: rgba(0, 0, 128, 0.25); }   /* navy, #000080 */
		.debug .w_B475 { background: rgba(0, 128, 128, 0.25); } /* teal, #008080 */
	.w_B145, .w_B310, .w_B475 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; } /* Remove padding in place of margin (see link above). */
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Bx { clear: left; }
	
}

@media only screen and (min-width: 995px) {
	
	/*-----------------( [C]harlie )-----------------*/
	
	/**
	 * `px` classes.
	 */
	
	.w_C145 { width: 145px; }
	.w_C310 { width: 310px; }
	.w_C475 { width: 475px; }
	.w_C640 { width: 640px; }
	.w_C805 { width: 805px; }
		.debug .w_C145 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_C310 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_C475 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_C640 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_C805 { background: rgba(240, 230, 140, 0.25); } /* khaki, #f0e68c */
	.w_C145, .w_C310, .w_C475, .w_C640, .w_C805 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Bx { clear: none; }
	.w_Cx { clear: left; }
	
}

@media only screen and (min-width: 1325px) {
	
	/*-----------------( [D]elta )-----------------*/
	
	/**
	 * `px` classes.
	 */
	
	.w_D145 { width: 145px; }
	.w_D310 { width: 310px; }
	.w_D475 { width: 475px; }
	.w_D640 { width: 640px; }
	.w_C805 { width: 805px; }
	.w_D970 { width: 970px; }
	.w_D1135 { width: 1135px; }
		.debug .w_D145 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_D310 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_D475 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_D640 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_D805 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_D970 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_D1135 { background: rgba(64, 224, 208, 0.25); } /* turquoise, #40e0d0 */
	.w_D145, .w_D310, .w_D475, .w_D640, .w_D805, .w_D970, .w_D1135 { margin: 0 0 0 20px; padding: 0; float: left; display: inline; }
	
	/*----------------------------------*/
	
	/**
	 * Clear preceding columns.
	 */
	
	.w_Cx { clear: none; }
	.w_Dx { clear: left; }
	
}

/* ==========================================================================
   _wiffle-pct.css
   ========================================================================== */

/*-----------------( [A]lpha )-----------------*/

/**
 * `%` grid base structure.
 *
 * @see rgne.ws/JNpYSM
 */

.w_line:before, .w_line:after { content: ""; display: table; } .w_line:after { clear: both; } .w_line { *zoom: 1; } /* IBID */
	.w_unit { float: left; display: inline; width: 100%; position: relative; }
		.debug .w_unit { background: rgba(0, 0, 255, 0.25); } /* blue, #00f */

/*----------------------------------*/

/**
 * `%` classes.
 */

.w_A1of2 { width: 50%; }
.w_A1of3 { width: 33.33333%; }
.w_A2of3 { width: 66.66666%; }
.w_A1of4 { width: 25%; }
.w_A3of4 { width: 75%; }
.w_A1of5 { width: 20%; }
.w_A2of5 { width: 40%; }
.w_A3of5 { width:60%; }
.w_A4of5 { width:80%; }
.w_A1of6 { width: 16.6666666%; }
.w_A5of6 { width: 83.3333333%; }
.w_A1of7 { width: 14.2857143%; }
.w_A2of7 { width: 28.5714286%; }
.w_A3of7 { width: 42.8571429%; }
.w_A4of7 { width: 57.1428572%; }
.w_A5of7 { width: 71.4285715%; }
.w_A6of7 { width: 85.7142858%; }
.w_A1of8 { width: 12.5%; }
.w_A3of8 { width: 37.5%; }
.w_A5of8 { width: 62.5%; }
.w_A7of8 { width: 87.5%; }
	.debug .w_A1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
	.debug .w_A1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
	.debug .w_A2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
	.debug .w_A1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
	.debug .w_A3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
	.debug .w_A1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
	.debug .w_A2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
	.debug .w_A3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
	.debug .w_A4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
	.debug .w_A1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
	.debug .w_A5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
	.debug .w_A1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
	.debug .w_A2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
	.debug .w_A3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
	.debug .w_A4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
	.debug .w_A5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
	.debug .w_A6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
	.debug .w_A1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
	.debug .w_A3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
	.debug .w_A5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
	.debug .w_A7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
.w_Afix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }

@media only screen and (min-width: 665px) {
	
	/*-----------------( [B]ravo )-----------------*/
	
	/**
	 * `%` classes.
	 */
	
	.w_B1of2 { width: 50%; }
	.w_B1of3 { width: 33.33333%; }
	.w_B2of3 { width: 66.66666%; }
	.w_B1of4 { width: 25%; }
	.w_B3of4 { width: 75%; }
	.w_B1of5 { width: 20%; }
	.w_B2of5 { width: 40%; }
	.w_B3of5 { width:60%; }
	.w_B4of5 { width:80%; }
	.w_B1of6 { width: 16.6666666%; }
	.w_B5of6 { width: 83.3333333%; }
	.w_B1of7 { width: 14.2857143%; }
	.w_B2of7 { width: 28.5714286%; }
	.w_B3of7 { width: 42.8571429%; }
	.w_B4of7 { width: 57.1428572%; }
	.w_B5of7 { width: 71.4285715%; }
	.w_B6of7 { width: 85.7142858%; }
	.w_B1of8 { width: 12.5%; }
	.w_B3of8 { width: 37.5%; }
	.w_B5of8 { width: 62.5%; }
	.w_B7of8 { width: 87.5%; }
		.debug .w_B1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_B1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_B2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_B1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_B3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_B1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_B2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_B3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_B4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_B1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_B5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .w_B1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .w_B2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .w_B3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .w_B4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .w_B5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .w_B6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .w_B1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .w_B3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .w_B5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .w_B7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.w_Bfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

@media only screen and (min-width: 995px) {
	
	/*-----------------( [C]harlie )-----------------*/
	
	/**
	 * `%` classes.
	 */
	
	.w_C1of2 { width: 50%; }
	.w_C1of3 { width: 33.33333%; }
	.w_C2of3 { width: 66.66666%; }
	.w_C1of4 { width: 25%; }
	.w_C3of4 { width: 75%; }
	.w_C1of5 { width: 20%; }
	.w_C2of5 { width: 40%; }
	.w_C3of5 { width:60%; }
	.w_C4of5 { width:80%; }
	.w_C1of6 { width: 16.6666666%; }
	.w_C5of6 { width: 83.3333333%; }
	.w_C1of7 { width: 14.2857143%; }
	.w_C2of7 { width: 28.5714286%; }
	.w_C3of7 { width: 42.8571429%; }
	.w_C4of7 { width: 57.1428572%; }
	.w_C5of7 { width: 71.4285715%; }
	.w_C6of7 { width: 85.7142858%; }
	.w_C1of8 { width: 12.5%; }
	.w_C3of8 { width: 37.5%; }
	.w_C5of8 { width: 62.5%; }
	.w_C7of8 { width: 87.5%; }
		.debug .w_C1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_C1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_C2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_C1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_C3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_C1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_C2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_C3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_C4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_C1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_C5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .w_C1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .w_C2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .w_C3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .w_C4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .w_C5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .w_C6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .w_C1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .w_C3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .w_C5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .w_C7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.w_Cfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

@media only screen and (min-width: 1325px) {
	
	/*-----------------( [D]elta )-----------------*/
	
	/**
	 * `%` classes.
	 */
	
	.w_D1of2 { width: 50%; }
	.w_D1of3 { width: 33.33333%; }
	.w_D2of3 { width: 66.66666%; }
	.w_D1of4 { width: 25%; }
	.w_D3of4 { width: 75%; }
	.w_D1of5 { width: 20%; }
	.w_D2of5 { width: 40%; }
	.w_D3of5 { width:60%; }
	.w_D4of5 { width:80%; }
	.w_D1of6 { width: 16.6666666%; }
	.w_D5of6 { width: 83.3333333%; }
	.w_D1of7 { width: 14.2857143%; }
	.w_D2of7 { width: 28.5714286%; }
	.w_D3of7 { width: 42.8571429%; }
	.w_D4of7 { width: 57.1428572%; }
	.w_D5of7 { width: 71.4285715%; }
	.w_D6of7 { width: 85.7142858%; }
	.w_D1of8 { width: 12.5%; }
	.w_D3of8 { width: 37.5%; }
	.w_D5of8 { width: 62.5%; }
	.w_D7of8 { width: 87.5%; }
		.debug .w_D1of2 { background: rgba(128, 0, 0, 0.25); }     /* maroon, #800000 */
		.debug .w_D1of3 { background: rgba(255, 0, 0, 0.25); }     /* red, #f00 */
		.debug .w_D2of3 { background: rgba(255, 255, 0, 0.25); }   /* yellow, #ff0 */
		.debug .w_D1of4 { background: rgba(128, 128, 0, 0.25); }   /* olive, #808000 */
		.debug .w_D3of4 { background: rgba(128, 128, 128, 0.25); } /* gray, #808080 */
		.debug .w_D1of5 { background: rgba(255, 0, 255, 0.25); }   /* fuchsia, #f0f */
		.debug .w_D2of5 { background: rgba(255, 255, 255, 0.25); } /* white, #fff */
		.debug .w_D3of5 { background: rgba(0, 255, 0, 0.25); }     /* lime, #0f0 */
		.debug .w_D4of5 { background: rgba(0, 128, 0, 0.25); }     /* green, #008000 */
		.debug .w_D1of6 { background: rgba(192, 192, 192, 0.25); } /* silver, #c0c0c0 */
		.debug .w_D5of6 { background: rgba(0, 255, 255, 0.25); }   /* aqua, #0ff */
		.debug .w_D1of7 { background: rgba(0, 128, 128, 0.25); }   /* teal, #008080 */
		.debug .w_D2of7 { background: rgba(0, 0, 128, 0.25); }     /* navy, #000080 */
		.debug .w_D3of7 { background: rgba(128, 0, 128, 0.25); }   /* purple, #800080 */
		.debug .w_D4of7 { background: rgba(255, 165, 0, 0.25); }   /* orange, #ffa500 */
		.debug .w_D5of7 { background: rgba(0, 0, 255, 0.25); }     /* blue, #00f */
		.debug .w_D6of7 { background: rgba(216, 191, 216, 0.25); } /* thistle, #d8bfd8 */
		.debug .w_D1of8 { background: rgba(160, 82, 45, 0.25); }   /* sienna, #a0522d */
		.debug .w_D3of8 { background: rgba(218, 165, 32, 0.25); }  /* goldenrod, #daa520 */
		.debug .w_D5of8 { background: rgba(210, 180, 140, 0.25); } /* tan, #d2b48c */
		.debug .w_D7of8 { background: rgba(255, 127, 80, 0.25); }  /* coral, #ff7f50 */
	.w_Dfix { width: auto; float: none; display: block; overflow: hidden; *overflow: visible; *zoom: 1; _left: -3px; _margin-right: -3px; }
	
}

/* ==========================================================================
   _wiffle-utils.css
   ========================================================================== */

/*-----------------( [A]lpha )-----------------*/

/**
 * Wrapper used to contain child margins.
 *
 * @see rgne.ws/JAoGck
 */

.w_wrap { padding: 1px 0; margin: -1px 0; }
	.debug .w_wrap { backgrounDcolor: rgba(240, 230, 140, 0.25); } /* khaki, #f0e68c */

/*--------------------------------------------------------------------*/

/**
 * Hide from both screen readers and browsers.
 */

.w_Bh, .w_Ch, .w_Dh { display: none !important; visibility: hidden; }
.w_Ah { display: block !important; visibility: visible; }

/*----------------------------------*/

/**
 * Hide visually and from screen readers whilst retaining layout.
 */

.w_Bv, .w_Cv, .w_Dv { visibility: hidden; }
.w_Av { visibility: visible; }

/*--------------------------------------------------------------------*/

/**
 * Borders, right/left.
 */

.w_Abl { border-left: 1px solid #ccc; }
.w_Abr { border-right: 1px solid #ccc; }

/*----------------------------------*/

/**
 * Borders, top/bottom.
 */

.w_Abtb { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.w_Abt { border-top: 1px solid #ccc; }
.w_Abb { border-bottom: 1px solid #ccc; }

/*--------------------------------------------------------------------*/

/**
 * Padding, right/left.
 */

.w_Aplr { padding-left: 10px; padding-right: 10px; }
.w_Apl { padding-left: 10px; }
.w_Apr { padding-right: 10px; }

/*--------------------------------------------------------------------*/

/**
 * Margins, top/bottom.
 */

.w_Amtb { margin-top: 20px; margin-bottom: 20px; }
.w_Amt { margin-top: 20px; }
.w_Amb { margin-bottom: 20px; }

@media only screen and (min-width: 665px) {
	
	/*-----------------( [B]ravo )-----------------*/
	
	/**
	 * Hide from both screen readers and browsers.
	 */
	
	.w_Ah { display: none !important; visibility: hidden; }
	.w_Bh { display: block !important; visibility: visible; }
	
	/*----------------------------------*/
	
	/**
	 * Hide visually and from screen readers whilst retaining layout.
	 */
	
	.w_Av { visibility: hidden; }
	.w_Bv { visibility: visible; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Vertical lines between fixed columns.
	 * Compatible with IE > 7.
	 *
	 * @see rgne.ws/M85ynR
	 */
	
	.w_lb:before, .w_rb:after {
		border-right: 1px solid #ccc;
		content: "";
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.w_lb:before { left: -11px; }
	.w_rb:after { right: -10px; }
	.w_Bb:before, .w_Bb:after { display: block; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Borders, right/left.
	 */
	
	.w_Bbl { border-left: 1px solid #ccc; }
	.w_Bbr { border-right: 1px solid #ccc; }
	
	/*----------------------------------*/
	
	/**
	 * Borders, top/bottom.
	 */
	
	.w_Bbtb { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.w_Bbt { border-top: 1px solid #ccc; }
	.w_Bbb { border-bottom: 1px solid #ccc; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Padding, right/left.
	 */
	
	.w_Bplr { padding-left: 10px; padding-right: 10px; }
	.w_Bpl { padding-left: 10px; }
	.w_Bpr { padding-right: 10px; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Margins, top/bottom.
	 */
	
	.w_Bmtb { margin-top: 20px; margin-bottom: 20px; }
	.w_Bmt { margin-top: 20px; }
	.w_Bmb { margin-bottom: 20px; }
	
}

@media only screen and (min-width: 995px) {
	
	/*-----------------( [C]harlie )-----------------*/
	
	/**
	 * Hide from both screen readers and browsers.
	 */
	
	.w_Bh { display: none !important; visibility: hidden; }
	.w_Ch { display: block !important; visibility: visible; }
	
	/*----------------------------------*/
	
	/**
	 * Hide visually and from screen readers whilst retaining layout.
	 */
	
	.w_Bv { visibility: hidden; }
	.w_Cv { visibility: visible; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Vertical lines between fixed columns.
	 */
	
	.w_Cb:before, .w_Cb:after { display: block; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Borders, right/left.
	 */
	
	.w_Cbl { border-left: 1px solid #ccc; }
	.w_Cbr { border-right: 1px solid #ccc; }
	
	/*----------------------------------*/
	
	/**
	 * Borders, top/bottom.
	 */
	
	.w_Cbtb { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.w_Cbt { border-top: 1px solid #ccc; }
	.w_Cbb { border-bottom: 1px solid #ccc; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Padding, right/left.
	 */
	
	.w_Cplr { padding-left: 10px; padding-right: 10px; }
	.w_Cpl { padding-left: 10px; }
	.w_Cpr { padding-right: 10px; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Margins, top/bottom.
	 */
	
	.w_Cmtb { margin-top: 20px; margin-bottom: 20px; }
	.w_Cmt { margin-top: 20px; }
	.w_Cmb { margin-bottom: 20px; }
	
}

@media only screen and (min-width: 1325px) {
	
	/*-----------------( [D]elta )-----------------*/
	
	/**
	 * Hide from both screen readers and browsers.
	 */
	
	.w_Ch { display: none !important; visibility: hidden; }
	.w_Dh { display: block !important; visibility: visible; }
	
	/*----------------------------------*/
	
	/**
	 * Hide visually and from screen readers whilst retaining layout.
	 */
	
	.w_Cv { visibility: hidden; }
	.w_Dv { visibility: visible; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Vertical lines between fixed columns.
	 */
	
	.w_Db:before, .w_Db:after { display: block; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Borders, right/left.
	 */
	
	.w_Dbl { border-left: 1px solid #ccc; }
	.w_Dbr { border-right: 1px solid #ccc; }
	
	/*----------------------------------*/
	
	/**
	 * Borders, top/bottom.
	 */
	
	.w_Dbtb { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.w_Dbt { border-top: 1px solid #ccc; }
	.w_Dbb { border-bottom: 1px solid #ccc; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Padding, right/left.
	 */
	
	.w_Dplr { padding-left: 10px; padding-right: 10px; }
	.w_Dpl { padding-left: 10px; }
	.w_Dpr { padding-right: 10px; }
	
	/*--------------------------------------------------------------------*/
	
	/**
	 * Margins, top/bottom.
	 */
	
	.w_Dmtb { margin-top: 20px; margin-bottom: 20px; }
	.w_Dmt { margin-top: 20px; }
	.w_Dmb { margin-bottom: 20px; }
	
}