/* ==========================================================================
   _wiffle-boxes.css
   ========================================================================== */

/*-----------------( [ A ]LPHA )-----------------*/

/**
 * Boxes.
 * Designed for use on a "wrapping" `div` inside columns.
 */

.w_Ansew, .w_Ans, .w_Aew, .w_An, .w_As, .w_Ae, .w_Aw,
.w_Bnsew, .w_Bns, .w_Bew, .w_Bn, .w_Bs, .w_Be, .w_Bw,
.w_Cnsew, .w_Cns, .w_Cew, .w_Cn, .w_Cs, .w_Ce, .w_Cw,
.w_Dnsew, .w_Dns, .w_Dew, .w_Dn, .w_Ds, .w_De, .w_Dw { border: 0 solid #ccc; padding: 1px 0; margin: -1px 0; } /* rgne.ws/JAoGck */

@media only screen and (min-width: 0) and (max-width: 664px) {
	
	/*-----------------( [ A ]LPHA )-----------------*/
	
	/**
	 * Boxes.
	 */
	
	.w_Ansew { border-width: 1px; margin: 10px; padding: 10px; }
	.w_Ans { border-top-width: 1px; border-bottom-width: 1px; margin-top: 10px; margin-bottom: 10px; padding-top: 9px; padding-bottom: 9px; }
	.w_Aew { border-right-width: 1px; border-left-width: 1px; margin-right: 10px; margin-left: 10px; padding-right: 9px; padding-left: 9px; }
	.w_An { border-top-width: 1px; margin-top: 10px; padding-top: 9px; }
	.w_As { border-bottom-width: 1px; margin-bottom: 10px; padding-bottom: 9px; }
	.w_Ae { border-right-width: 1px; margin-right: 10px; padding-right: 9px; }
	.w_Aw { border-left-width: 1px; margin-left: 10px; padding-left: 9px; }
	
}

@media only screen and (min-width: 665px) and (max-width: 1004px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * Boxes.
	 */
	
	.w_Bnsew { border-width: 1px; margin: 10px; padding: 9px; }
	.w_Bns { border-top-width: 1px; border-bottom-width: 1px; margin-top: 10px; margin-bottom: 10px; padding-top: 9px; padding-bottom: 9px; }
	.w_Bew { border-right-width: 1px; border-left-width: 1px; margin-right: 10px; margin-left: 10px; padding-right: 9px; padding-left: 9px; }
	.w_Bn { border-top-width: 1px; margin-top: 10px; padding-top: 9px; }
	.w_Bs { border-bottom-width: 1px; margin-bottom: 10px; padding-bottom: 9px; }
	.w_Be { border-right-width: 1px; margin-right: 10px; padding-right: 9px; }
	.w_Bw { border-left-width: 1px; margin-left: 10px; padding-left: 9px; }
	
}

@media only screen and (min-width: 1005px) and (max-width: 1344px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * Boxes.
	 */
	
	.w_Cnsew { border-width: 1px; margin: 10px; padding: 9px; }
	.w_Cns { border-top-width: 1px; border-bottom-width: 1px; margin-top: 10px; margin-bottom: 10px; padding-top: 9px; padding-bottom: 9px; }
	.w_Cew { border-right-width: 1px; border-left-width: 1px; margin-right: 10px; margin-left: 10px; padding-right: 9px; padding-left: 9px; }
	.w_Cn { border-top-width: 1px; margin-top: 10px; padding-top: 9px; }
	.w_Cs { border-bottom-width: 1px; margin-bottom: 10px; padding-bottom: 9px; }
	.w_Ce { border-right-width: 1px; margin-right: 10px; padding-right: 9px; }
	.w_Cw { border-left-width: 1px; margin-left: 10px; padding-left: 9px; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * Boxes.
	 */
	
	.w_Dnsew { border-width: 1px; margin: 10px; padding: 9px; }
	.w_Dns { border-top-width: 1px; border-bottom-width: 1px; margin-top: 10px; margin-bottom: 10px; padding-top: 9px; padding-bottom: 9px; }
	.w_Dew { border-right-width: 1px; border-left-width: 1px; margin-right: 10px; margin-left: 10px; padding-right: 9px; padding-left: 9px; }
	.w_Dn { border-top-width: 1px; margin-top: 10px; padding-top: 9px; }
	.w_Ds { border-bottom-width: 1px; margin-bottom: 10px; padding-bottom: 9px; }
	.w_De { border-right-width: 1px; margin-right: 10px; padding-right: 9px; }
	.w_Dw { border-left-width: 1px; margin-left: 10px; padding-left: 9px; }
	
}