/* ==========================================================================
   extras/_wiffle-lines.css
   ========================================================================== */

/*-----------------( [ A ]LPHA )-----------------*/

/**
 * Vertical lines between `px` and `h2o` columns.
 * Compatible with IE >= 8.
 *
 * Unfortunately, IE 8 is having issues showing/hidding pseudo elements.
 * Using hack to target everything but IE 6-8.
 *
 * @see rgne.ws/M85ynR
 */

.w_Alb:before, .w_Blb:before, .w_Clb:before, .w_Dlb:before, .w_Ala:after, .w_Bla:after, .w_Cla:after, .w_Dla:after { border-right: 1px solid #ccc; content: ""; display: none; position: absolute; top: 0; bottom: 0; }
.w_Alb:before, .w_Blb:before, .w_Clb:before, .w_Dlb:before { left: -21px; }
.w_Ala:after, .w_Bla:after, .w_Cla:after, .w_Dla:after { right: -20px; }

@media only screen and (min-width: 0) and (max-width: 664px) { /* rgne.ws/PYeOx5 */
	
	/*-----------------( [ A ]LPHA )-----------------*/
	
	/**
	 * Vertical lines between `px` and `h2o` columns.
	 */
	
	:root *> .w_Alb:before, :root *> .w_Ala:after { display: block; } /* rgne.ws/TxmM1l */
	
}

@media only screen and (min-width: 665px) and (max-width: 1004px) {
	
	/*-----------------( [ B ]RAVO )-----------------*/
	
	/**
	 * Vertical lines between `px` and `h2o` columns.
	 */
	
	:root *> .w_Blb:before, :root *> .w_Bla:after { display: block; }
	
}

@media only screen and (min-width: 1005px) and (max-width: 1344px) {
	
	/*-----------------( [ C ]HARLIE )-----------------*/
	
	/**
	 * Vertical lines between `px` and `h2o` columns.
	 */
	
	:root *> .w_Clb:before, :root *> .w_Cla:after { display: block; }
	
}

@media only screen and (min-width: 1345px) {
	
	/*-----------------( [ D ]ELTA )-----------------*/
	
	/**
	 * Vertical lines between `px` and `h2o` columns.
	 */
	
	:root *> .w_Dlb:before, :root *> .w_Dla:after { display: block; }
	
}